<h1>Hello <%= current_user.username %>. Welcome to your pals list. 

<br><br> You can <%= link_to "click here to follow more pals.", new_friendship_path %></h1><br>

<h2>Currently, you follow:
<ul><br>
  <% current_user.friendships.each do |friendship| %>
  <li>
    <%= link_to friendship.friend.username, user_posts_path(friendship.friend) %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %> 
</ul></h2>

<!-- You might not want to friend people back, so... -->

<br>
<h2>Folk who have followed you:</h2>
<ul>
  <% current_user.inverse_friends.each do |user| %>
  <li><%= link_to user.username, user_posts_path(user) %></li>
  <% end %> 
</ul>

