<%= form_for @post do |f| %>

<div class="field">
  <%= f.label :caption %><br>
  <%= f.text_field :caption %>
</div>
<div class="field">
  <%= f.label :post_image %>
  <%= f.file_field :post_image %>
</div>

  <div class="actions">
    <%= f.submit 'Post!' %>
  </div>
<% end %>
